
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courgette|Pacifico|Shadows+Into+Light&display=swap");

#first{

    margin-left:10px;
     margin-top:30px;
      text-align:left;
}

#first2{

    margin-left:10px;
      text-align:left;
}

#second{

    margin-left:10px;
     margin-top:30px;
      text-align:left;
      margin-top: -10px;
}


#third{

    margin-left:50px;
     margin-top:30px;
      text-align:left;
}


#img{
    border-radius:5px; border-style:solid;
     text-align:center; margin-left: auto; margin-right: auto; height:65%; width:65%;
     margin-bottom:5px;
}

#imav2{
      height:30%; width:30%;
     
}

#avatar2{
    border-radius:5px;
    border-style:solid;
    width: 1200px;
    overflow:auto;

}

#imav{

    width:300px;height:500px;
}
#imav3{
    
     height:500px; width:350px;
     
}
#imgcomp{
    border-radius:5px; border-style:solid;
     text-align:center; margin-left: auto; margin-right: auto; height:40%; width:40%;
     margin-bottom:5px;
}

#img2{
     text-align:center; margin-left: auto; margin-right: auto; height:65%; width:65%;
     margin-bottom:5px;
}

#img3{
    text-align:center; margin-left: auto; margin-right: auto; height:50px; width:270px;
    margin-bottom:5px; margin-bottom: 30px; margin-top: 30px;
}

#imglara{
    
     text-align:center; margin-left: auto; margin-right: auto; height:65%; width:90%; margin-bottom:800px;
     margin-bottom:5px;
}

li{
    text-align:left;
}

#yeah{

    font-family: 'Pacifico', cursive;
    font-size:120%;    

}

#in{

    font-family: 'Shadows Into Light', cursive;
        font-size:170%; 
        border-color:#BDB76B;   
    
}

#inn{

    text-align: center;
    

}

#imm{

    background: url("f1.jpg");
    background-color: black;
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 0px;

}

#card{
    font-size: large;
}

.Table{
    width: 80%;
}